*{
    box-sizing:border-box;
}

.header{
    background-color: rgb(190, 195, 240);
}
.errorText{
    background-color: rgb(212, 122, 142);
    color:red;
    width: 100%;
    border-radius: 5px;
}
.sucessText{
    background-color: rgb(91, 173, 147);
    color:green;
    width: 100%;
    border-radius: 5px;
}
.sbbsLogo{
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}
.sbbsClgPic{
    display: block;
    height: 150px;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
}

.sbbsSClPic{
    display:block;
    height: 150px;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
}

.tchrPic{
    display:block;
    height: 150px;
    width: 25%;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
}

.mainHeading{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
    display: inline;
    margin: 30px;
    font-size: 5vw;
}

p{
    color: navy;
    font-size: 20px; 
    margin-left: 10px;
}

.tPortalText{
    font-size:40px;
    text-align: center;
    color: navy;
    font-style: bold;
    margin: 10px;
    background-color:  rgb(190, 195, 240);
}

.leftPhoto{
    float: left;
    width: 20%;
    height: 540px;
    background-color:  rgb(228, 227, 225);
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.formContent{
    float: left;
    background-color: rgb(228, 227, 225);
    width: 55%;
    height: 540px;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 10px;
    padding:50px;
}
.formContent2{
    float: left;
    background-color: rgb(228, 227, 225);
    width: 55%;
    height: 540px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding:5px 2px;
}

nav{
    float: left;
    width:25%;
    height: 540px;
    background:  rgb(134, 143, 230);
    padding: 5px 2px;
}

nav ul{
    list-style-type: none;
    padding: 0px 5px;
    font-size: 20px;
    margin: 5px 0px;
    overflow: hidden;
}

li{
    padding: 2px;
    margin: 5px 5px;
}
a{
    text-decoration: none;
    color: navy;;
    font-size: 25px;
    display: block;
    background:  rgb(217, 219, 238);
    height: 50px;
}
a:hover{
    background-color: rgb(85, 99, 223);
    color: black;
}
.home-container{
    float:left;
    width:75%;
    height: 540px;
    background-color: rgb(228, 227, 225);
    padding:5px;
    margin:0px;
    overflow: auto;
}

section::after{
    content: "";
    display: table;
    clear: both;
}
#submitButton{
    color: rgb(8, 8, 8);
    background-color: rgb(190, 195, 240);
    display:block;
    width: 25%;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    cursor:pointer;
}
#submitButton:hover{
    opacity:0.2;
}
footer{
    background-color: khaki;
}

.subjPic{
    height: 100px;
    width: 100%;
    padding:2px;
}
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(205, 201, 235, 0.8);
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(226, 224, 241, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    width: 100%;
  }

.subjPic:hover{
    height: 115px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  th{
    background-color:  navy;
    color: rgb(197, 202, 244);
    padding: 10px;
    margin: 2px;
  }
  td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color:  rgb(197, 202, 244);
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

/* ------input CSS------ */
input[type=text], input[type=password]{
    width:100%;
    padding: 12px 20px;
    margin: 8px 6px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

@media(max-width:600px){
    leftPhoto,formContent{
        width: 100%;
        height:auto;
    }
}
